@charset "utf-8";

@import "./inclusions.scss";

$primary: $info;
$condensed-padding: 1.5rem 0.75rem;

.condensed-section {
  padding: $condensed-padding;
}
.navbar {
  background-color: $primary;
  min-height: 4rem;
}

.navbar-item {
  a.icon {
    color: $white;
  }
}