@charset "utf-8";

//Bulma initial vars
@import "../../node_modules/bulma/sass/utilities/_all.sass";

$condensed-padding: 1.5rem 0.75rem;
$icons-color: $info;

.condensed-section {
  padding: $condensed-padding;
}
.navbar {
  min-height: 4rem;
}
.tags.experience {
  margin-bottom: 0.1rem;
}
.icon-themed {
  color: $icons-color;
}

@import "./inclusions.scss";
